*.user
/src/packages
/src/.vs

/src/ContosoAds.Common/bin
/src/ContosoAds.Common/obj

/src/ContosoAds.CloudService/obj
/src/ContosoAds.CloudService/bin

/src/ContosoAds.Web/bin
/src/ContosoAds.Web/obj

/src/ContosoAds.Worker/bin
/src/ContosoAds.Worker/obj